.topnav {
    background-color: black;
    overflow: hidden;
}
.topnav a {
    color: green;;
    font-size: 25px;
}
.col-md-3 {
    text-align: center;
    padding: 10px ;
}
.topnav h1 {
    font-weight: bold;
    font-size: 40px;
    color: yellow;
}
.topnav a:hover {
    cursor: pointer;
    color: red;
}
.header {
    font-weight: bold;
    color: greenyellow;
}
.slogan {
    font-size: 20px;
    font-style: italic;
    margin-top: 0px;

}
#icon {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}
.about {
    text-align: center;
    padding-bottom: 80px;
}
#home {
    color: wheat;
    font-style: oblique;
    font-weight: bold;
    background-image: url(../images/pizza3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 40px;
}
#aboutus {
    font-weight: bold;
    color:greenyellow;
}
.prices {
    text-align: center;
    text-decoration: underline;
    color: red;
    font-weight: bold;
    background-color:lightgray;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 15px 0px;
}
.deliveryinfo {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
#contact {
    background-color: grey;
    padding: 15px;
    
}
.contact {
    text-align: center;
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
    text-decoration: underline;
   
}
#contact-name {
    width: 10cm;
    border-radius: 0px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
}
#contact-email {
    width: 10cm;
    border-radius: 0px;
    display: block;
    margin-left: 10px;
    margin-right: auto;
}
#contact-message {
    border-radius: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.inquire {
    text-align: center;
    color: black;
    padding-top: 10px;
}
.icons {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.col-md-1:hover {
    opacity: 0.4;
    cursor: pointer;
}
.btn {
    background-color: chartreuse;
    color: black;
    margin-top: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}